/*
.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
._._._._._._._._._._._._._._._._._.

        GENERAL TODA LA PAG

.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
._._._._._._._._._._._._._._._._._.
*/

:root {
  --color1: rgb(206, 255, 253);
  --color2: rgb(138, 197, 199);
  --color4: rgba(131, 255, 131, 0.308);
  --color5: rgba(4, 34, 37, 0.8);
  --color6: rgba(255, 255, 255, 0.7);
  --colorLetra: rgb(4, 34, 37);
  --colorContraste: rgb(228, 43, 18);
  --gradiente: linear-gradient(
    90grad,
    var(--color1),
    var(--color4),
    rgb(230, 230, 230),
    var(--color2)
  );
}

body {
  font-family: "PT Sans", sans-serif;
  background: var(--gradiente);
}

main {
  min-height: calc(100vh - 328px);
}

/*
.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
._._._._._._._._._._._._._._._._._.

            NAVEGADOR

.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
._._._._._._._._._._._._._._._._._.
*/

.navegador {
  box-shadow: 7px 0px 10px var(--color5);
}

.menuPag {
  border-left: 1px solid var(--colorLetra);
  font-size: 1.1rem;
}

.menuPag:hover {
  border-left: 1px solid var(--colorContraste);
}

.letraContraste:hover {
  color: var(--colorContraste) !important;
}

/*
.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
._._._._._._._._._._._._._._._._._.

              INDEX

.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
._._._._._._._._._._._._._._._._._.
*/

/*
.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
              Main
._._._._._._._._._._._._._._._._._.
*/
.placaFondo {
  box-shadow: 1px 0px 10px rgba(4, 34, 37, 0.308);
}

.carousel-caption {
  text-shadow: -1px -1px 4px rgba(0, 0, 0, 0.4), -1px 1px 4px rgba(0, 0, 0, 0.4),
    1px 1px 4px rgba(0, 0, 0, 0.4), 1px -1px 4px rgba(0, 0, 0, 0.4);
}
.carousel-caption > h5 {
  font-size: 1.5rem;
}
.carousel-caption > p {
  font-size: 1.2rem;
}

.titulo {
  color: var(--colorLetra);
  font-size: 3rem;
  padding: 2rem;
  border-bottom: 1px solid var(--colorLetra);
}

/* LAS TERJETAS DE LA SECCION "SERVICIOS" (Y TODO LOS COMPONENTES QUE TIENEN DENTRO) ESTAN NOMBRADAS CON LA CLASE "card", MIENTRAS QUE LAS TARJETAS DE LA SECCION "NOVEDADES" ESTAN REFERENCIADAS CON LA CLASE "cardIndex"*/

/*
.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
            Servicios
._._._._._._._._._._._._._._._._._.
*/

.card {
  background: rgb(231, 231, 231);
  color: var(--colorLetra);
  padding: 1.5rem;
  box-shadow: 7px 7px 10px var(--color5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  transition: transform 500ms ease;
}
.card .card-icon {
  font-size: 4rem;
  color: var(--colorLetra);
}
.card .card-title {
  font-size: 1.4rem;
}
.card .card-footer {
  margin-top: 25px;
  padding: 10px;
  border-top: 1px solid var(--colorLetra);
  width: 100%;
  text-align: center;
  background-color: rgb(231, 231, 231);
}
@media (hover) {
  .card:hover,
  .card:focus-within {
    transform: scale(1.01);
  }
}
@media (max-width: 400px) {
  .card {
    width: 85% ;
  }
}
@media (min-width: 501px) and (max-width: 991px) {
  .card {
    width: 60%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .card {
    width: 45%;
  }
}
@media (min-width: 1200px) and (max-width: 1399px){
  .card {
    width: 40%;
  }
}
@media (min-width: 1400px) {
  .card {
    width: 30%;
  }
}

/*
.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
          Novedades
._._._._._._._._._._._._._._._._._.
*/

.noticia1 {
  background-image: url(/assets/images/index/Noticia1.png);
}
.noticia2 {
  background-image: url(/assets/images/index/Noticia2.png);
}
.noticia3 {
  background-image: url(/assets/images/index/Noticia3.png);
}
.noticia4 {
  background-image: url(/assets/images/index/Noticia4.png);
}

.cardIndex {
  color: white;
  background-size: cover;
  padding: 8rem 0 0;
  border-radius: 0.4rem;
  overflow: hidden;

  transition: transform 500ms ease;
}
.card-contentIndex {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(rgba(0, 0, 0, 0), var(--color5) 40%, black);
  font-size: 1rem;
}
.card-titleIndex {
  position: relative;
  width: max-content;
  font-size: 1.4rem;
}
.card-titleIndex::after {
  content: "";
  position: absolute;
  left: calc(var(--padding) * -1);
  bottom: -4px;
  height: 1px;
  width: calc(100% + var(--padding));
  background: white;
}
.card-footerIndex {
  padding: 10px;
  border-top: 0.5px solid white;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
}
@media (hover) {
  .cardIndex:hover,
  .cardIndex:focus-within {
    transform: scale(1.01);
  }

  .card-contentIndex {
    transform: translateY(55%);
    transition: transform 500ms ease;
    transition-delay: 300ms;
  }

  .cardIndex:hover .card-contentIndex,
  .cardIndex:focus-within .card-contentIndex {
    transform: translateY(0);
  }

  .card-contentIndex > *:not(.card-titleIndex) {
    opacity: 0;
    transition: opacity 300ms linear;
  }

  .cardIndex:hover .card-contentIndex > *:not(.card-titleIndex),
  .cardIndex:focus-within .card-contentIndex > *:not(.card-titleIndex) {
    opacity: 1;
    transition-delay: 500ms;
  }

  .card-titleIndex::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
  }

  .cardIndex:hover .card-titleIndex::after,
  .cardIndex:focus-within .card-titleIndex::after {
    transform: scaleX(1);
  }
}

/*
.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
          COLUMNA ASIDE
._._._._._._._._._._._._._._._._._.
*/

.busquedaIndex:focus {
  color: rgb(34, 34, 34) !important;
  background-color: #fff !important;
  border-color: var(--color2) !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.1rem var(--color2) !important;
}

/*
.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
._._._._._._._._._._._._._._._._._.

            FOOTER

.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
._._._._._._._._._._._._._._._._._.
*/

.footerLeft {
  border-left: 1px solid white;
}
.footerRight {
  border-right: 1px solid white;
}

/*
.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
._._._._._._._._._._._._._._._._._.

          PAGINA 404

.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
._._._._._._._._._._._._._._._._._.
*/

.body404 {
  background: #CCFDFF url(/assets/images/404/Error404.png) no-repeat fixed center/100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.boton404 {
  transition: transform 500ms ease;
}

@media (hover) {
  .boton404:hover,
  .boton404:focus-within, 
  .boton404:active {
    transform: scale(1.1);
  }
}

@media (max-width: 350px) {
  .boton404 {
    margin-top: 55vw;
  }
}
@media (min-width: 351px) and (max-width: 600px) {
  .boton404 {
    margin-top: 30vw;
  }
}
@media (min-width: 601px) and (max-width: 800px) {
  .boton404 {
    margin-top: 18vw;
  }
}
@media (min-width: 801px) and (max-width: 1000px) {
  .boton404 {
    margin-top: 12vw;
  }
}
@media (min-width: 1001px) and (max-width: 1150px) {
  .boton404 {
    margin-top: 8vw;
  }
}
@media (min-width: 1150px) and (max-width: 1350px) {
  .boton404 {
    margin-top: 4vw;
  }
}
@media (min-width: 1351px) {
  .boton404 {
    margin-top: 2vw;
  }
}

/*
.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
._._._._._._._._._._._._._._._._._.

          PAGINA USUARIO

.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
._._._._._._._._._._._._._._._._._.
*/

/*
.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
            Calendario
._._._._._._._._._._._._._._._._._.
*/
#headerCalendar {
  padding: 10px;
  color: var(--colorContraste);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#weekdays {
  font-size: 80%;
  color: var(--colorLetra);
}
#weekdays div {
  padding: 1%;
}
#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

@media (max-width: 400px) {
  /* #calendar {
    width: 50% ;
  } */
  .day {
    padding: 6%;
    margin: 6%;
    box-shadow: 0% 0% 5% rgb(161, 161, 161);
    height: 50px;
    font-size: 0.8rem;
  }
}

.day {
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  box-shadow: 0px 0px 3px rgb(161, 161, 161);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: var(--color1);
}

.day + #currentDay {
  background-color: var(--color4);
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: var(--color5);
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: rgb(238, 238, 238) !important;
  box-shadow: none !important;
}
#newEventModal, #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton, #deleteButton {
  background-color: #d36c6c;
}
#saveButton, #closeButton {
  background-color: #92a1d1;
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}

/*
.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
._._._._._._._._._._._._._._._._._.

      PAGINAS REGISTRO/LOGIN

.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
._._._._._._._._._._._._._._._._._.
*/

/*
.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
            Imagen aside
._._._._._._._._._._._._._._._._._.
*/

.imagenAsideProfesional {
  background: url(/assets/images/login:usuario\ Profesional/login.png) no-repeat center;
  background-size: cover;
}

.imagenAsidePaciente {
  background: url(/assets/images/login:usuario\ Paciente/login.png) no-repeat center;
  background-size: cover;
}